.page1{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  height: 88vh;
  gap: 2rem;
}
.gradientBorderWrapper{
  background:linear-gradient(to right, green,orange, purple);
  padding: 0.1rem;
  max-width: fit-content;
  border-radius: 999px;
}
.gradientBorder{
  padding-block:0.25rem;
  padding-inline: 1rem;
  border-radius: 999px;
}
.p1l{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-self: center;
}
.p1r{
  justify-self: center;
}
.cubeVideo{
  width: 100%;
}
.p1bt{
  margin-bottom: 5rem;
}

.threejsCube{
  position: relative;
  width: 100%;
}
@media (max-width: 768px) {
  .page1{
    display: flex;
    flex-direction: column-reverse;
    /* grid-template-columns: 1fr 1fr; */
    align-items: center;
    /* justify-content: center; */
    height: 100%;
    gap: 2rem;
  }
  .p1l{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-self: center;
    align-items: center;
    text-align: center;
  }
  .heading{
    text-align: center;
  }
  .p1bt{
    margin-top: 3rem;
    margin-bottom: 5rem;
  }
}
@media (max-width: 450px){
  .p1l{
    gap: 1.5rem;
  }
  .page1{
    gap: 1.5rem;
  }
}
