
button{
  outline: none;
  border: none;
  border-radius: 999px;
  padding: 0.7rem 1rem;
  font-weight: 550;
  font-size: 0.875rem;
  display:flex;
  justify-content: center;
  align-items: center;
  line-height: 1.25rem;
}
.button1{
  background: white;
  color: black;
}
.button2{
  background-color: black;
  color:#f1f7feb5;
}